%form{ action: "upload", method: "post", enctype: "multipart/form-data" }
  %p
    %label{ for: "client_number"}
      Numer klienta:
    %input{type: "text", name: "client_number"}
  %p
    %label{ for: "order_number"}
      Numer zamówienia:
    %input{type: "text", name: "order_number"}
  %p
    %label{ for: "company_file"}
      Plik z danymi firmy:
    %input{type: "file", name: "company_file"}
  %p
    %label{ for: "translations_file"}
      Plik z tłumaczeniami:
    %input{type: "file", name: "translations_file"}
  %p
    %select{ name: 'company_name' }
      = COMPANIES_NAMES.each do |key, value|
        %option{ value: value}
          = value
  %input{type: "submit", value: "Generuj", class: "button"}
